@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mozilla+Headline:wght@200..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Six+Caps&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.homeSection {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/Images/bg.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100dvh;
  width: 100%;
}

.homeWrapper {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  min-height: auto;
}

.logo-side-container {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  height: 15rem;
  width: auto;
}

.sideText {
  display: flex;
  justify-content: center;
  position: relative;
  width: auto;
}

.side-h1 {
  color: #81021f;
  font-family: Six Caps;
  font-size: 10rem;
}

.homeWrapper2 {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 55vh;
}

.icons {
  grid-row: 2;
  justify-self: center;
}

.icons img {
  height: 3rem;
  padding: 3rem;
  filter: brightness(0) invert(1);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.icons a:nth-child(1) img:hover {
  transform: scale(1.5);
  filter: invert(27%) sepia(96%) saturate(2672%) hue-rotate(194deg)
    brightness(95%) contrast(101%);
}

.icons a:nth-child(2) img:hover {
  transform: scale(1.5);
  filter: invert(19%) sepia(97%) saturate(7455%) hue-rotate(1deg)
    brightness(92%) contrast(107%);
}

.icons a:nth-child(3) img:hover {
  transform: scale(1.5);
  filter: invert(91%) sepia(87%) saturate(748%) hue-rotate(359deg)
    brightness(101%) contrast(105%);
}

.icons a:nth-child(4) img:hover {
  transform: scale(1.5);
  filter: invert(46%) sepia(97%) saturate(427%) hue-rotate(75deg)
    brightness(95%) contrast(92%);
}

.compassWrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 10vh;
}

.offContainer {
  display: none;
}

.compass {
  display: none;
  border-radius: 50%;
  filter: brightness(0) invert(2);
}

.off-screen-menu {
  font-family: Six Caps;
  font-size: 10rem;
  position: absolute;
  display: none;
}
.offUl {
  display: flex;
  flex-direction: column;
}
.offLi a {
  display: flex;
  justify-content: center;
  width: auto;
  margin-right: 0;
}

.navLinks {
  font-size: 5rem;
  cursor: pointer;
  font-family: Six Caps;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30rem;
}

ul {
  list-style: none;
}

ul li {
  padding: 1rem;
  align-items: center;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  color: white;
  border-radius: 1rem;
  transition: 0.3s ease-in-out;
}

li a:hover {
  color: black;
  background-color: white;
  box-shadow: 0.5rem 1rem #81021f;
}

.banner {
  background-color: #81021f;
  min-height: 30dvh;
}

.bioSection {
  min-height: 100dvh;
  color: white;
  background-color: black;
}

.bioWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: auto;
}

.bioTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bioTitle h1 {
  font-family: Six Caps;
  font-size: 20rem;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.image img {
  height: 20rem;
  padding: 2rem;
  max-width: 100%;
  border-radius: 2.5rem;
}

.image1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.image1 img {
  height: 70rem;
  max-width: 100%;
  border-radius: 2rem;
}

.theStory {
  display: inline-block;
  padding: 2rem;
}

.theStory h1 {
  font-size: 2.5rem;
  font-family: instrument serif;
  display: flex;
  justify-content: start;
}

.theStory p {
  font-size: 3.3rem;
  font-family: instrument serif;
  padding: 1rem;
}

.trackSection {
  min-height: 50dvh;
  width: 100%;
  color: white;
  background-color: #020226;
}

.trackWrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.trackTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.trackTitle h1 {
  font-family: Six Caps;
  font-size: 15rem;
}

.trackWrapper2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 10rem;
}

.trackWrapper2 img {
  height: 20rem;
  border-radius: 50%;
  max-width: 100%;
}

.box-track {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.box-track:hover h1 {
  color: #fe7f2d;
}

.box-track:hover img {
  transform: scale(1.2);
}

.box-track a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.box-track img {
  padding: 2rem;
  transition: 0.3s ease-in-out;
}

.box-track h1 {
  font-size: 3rem;
  font-family: instrument serif;
  transition: 0.3s ease-in-out;
}

.tourSection {
  min-height: 100dvh;
  color: white;
  padding: 10rem;
  background-color: black;
}

.tourWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.box-tour {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.box-tour img {
  height: 50rem;
  max-width: 100%;
  border-radius: 1rem;
}

.merchSection {
  min-height: 50dvh;
  color: white;
  padding: 5rem;
  background-color: #212223;
}

.cartWrapper {
  display: flex;
  justify-content: end;
  align-items: center;
}

.cart img {
  height: 5rem;
  filter: brightness(0) invert(1);
}

.merchWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.merch-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  padding: 2rem;
}

.merch-box img {
  height: 40rem;
  border: 1px solid #fe7f2d;
  max-width: 100%;
  border-radius: 1rem;
}

.merch-box h1 {
  font-size: 4rem;
  font-family: instrumental serif;
}

.merch-box button {
  height: 5rem;
  font-family: instrumental serif;
  font-size: 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #fe7f2d;
  color: white;
  cursor: pointer;
  width: 20%;
}

/* Cart Indicator */
.cart {
  position: relative;
  cursor: pointer;
}

.cartIndicator {
  position: absolute;
  top: -15px;
  right: -15px;
  background: red;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 0.7rem 0.7rem;
}

/* Cart Drawer */
.cartDrawer {
  position: fixed;
  top: 0;
  left: -100%; /* hidden */
  width: 50rem;
  height: 100%;
  background: #111;
  color: white;
  padding: 2rem;
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 999;
}

.cartDrawer.open {
  left: 0;
}

.cartDrawer h2 {
  font-size: 5rem;
  margin-bottom: 1.5rem;
}

.cartDrawer p {
  font-size: 3rem;
}

.cartDrawer h3 {
  font-size: 3rem;
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.cartItem img {
  min-width: 50%;
  height: 20rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

.qtyControls {
  display: flex;
  font-size: 3rem;
  align-items: center;
  gap: 0.5rem;
}

.qtyControls button {
  background: transparent;
  border: none;
  padding: 1rem;
  font-size: 5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.qtyControls .decrease {
  color: red;
}

.qtyControls .increase {
  color: green;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.closeBtn {
  background: transparent;
  border: none;
  font-size: 4rem;
  color: white;
  cursor: pointer;
}

footer {
  min-height: 33dvh;
  background-color: #81021f;
}

.footerWrapper {
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-image img {
  cursor: pointer;
  height: 12rem;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
}

.footer-image img:hover {
  transform: scale(1.2);
  background-color: black;
}

.footer-title {
  text-align: center;
}

.footer-title h1 {
  color: white;
  font-family: Six Caps;
  font-size: 7rem;
  width: 100%;
}

.outroWrapper {
  display: grid;
  grid-template-rows: 1fr auto;
}

.icons-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons-footer img {
  height: 3rem;
  filter: brightness(0) invert(1);
  padding: 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.icons-footer a:nth-child(1) img:hover {
  transform: scale(1.5);
  filter: invert(27%) sepia(96%) saturate(2672%) hue-rotate(194deg)
    brightness(95%) contrast(101%);
}

.icons-footer a:nth-child(2) img:hover {
  transform: scale(1.5);
  filter: invert(19%) sepia(97%) saturate(7455%) hue-rotate(1deg)
    brightness(92%) contrast(107%);
}

.icons-footer a:nth-child(3) img:hover {
  transform: scale(1.5);
  filter: invert(91%) sepia(87%) saturate(748%) hue-rotate(359deg)
    brightness(101%) contrast(105%);
}

.icons-footer a:nth-child(4) img:hover {
  transform: scale(1.5);
  filter: invert(46%) sepia(97%) saturate(427%) hue-rotate(75deg)
    brightness(95%) contrast(92%);
}

.footer-outro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-outro p {
  color: white;
  font-size: 1.5rem;
  font-family: roboto;
}

@media (max-width: 1355px) {
  html {
    font-size: 50%;
  }
  .icons img {
    height: 3.5rem;
  }

  .homeWrapper2 {
    min-height: 60dvh;
  }
  .merchWrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    min-height: 28dvh;
  }
}

@media (max-width: 1072px) {
  html {
    font-size: 37.5%;
  }

  .side-h1 {
    font-size: 12rem;
  }

  .logo img {
    height: 20rem;
  }
  .icons img {
    height: 4rem;
  }

  .homeWrapper2 {
    min-height: 62dvh;
  }

  .navLinks {
    font-size: 6rem;
  }
  footer {
    min-height: 20dvh;
  }
}

@media (max-width: 815px) {
  .homeWrapper {
    grid-template-columns: 1fr;
  }

  .side-h1 {
    font-size: 11rem;
  }

  .navLinks {
    display: none;
  }

  .compass {
    display: flex;
    position: fixed;
    justify-content: start;
    align-self: center;
    height: 5rem;
    padding-left: 2rem;
  }

  .offContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .off-screen-menu {
    font-family: Six Caps;
    font-size: 10rem;
    position: fixed;
    top: 35rem;
    width: auto;
    background-color: rgb(129, 2, 31, 0.8);
    border-radius: 2rem;
    padding: 10rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
  }
  .off-screen-menu.show {
    opacity: 1;
    pointer-events: auto;
  }

  .bioTitle h1 {
    font-size: 18rem;
  }

  .theStory h1 {
    font-size: 2rem;
  }

  .theStory p {
    font-size: 3rem;
  }

  .image img {
    height: 18rem;
  }

  .image1 img {
    height: 65rem;
  }

  .trackTitle h1 {
    font-size: 15rem;
  }

  .tourWrapper {
    grid-template-columns: 1fr;
  }

  .box-tour img {
    height: 40rem;
  }
}

@media (max-width: 735px) {
  .bioWrapper {
    grid-template-columns: 1fr;
  }

  .bioTitle h1 {
    font-size: 13rem;
  }

  .theStory h1 {
    font-size: 1.5rem;
  }

  .theStory p {
    font-size: 2rem;
  }

  .image img {
    height: 16rem;
  }

  .image1 img {
    height: 55rem;
  }

  .trackTitle h1 {
    font-size: 13rem;
  }

  .trackWrapper2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .box-tour img {
    height: 40rem;
  }
  .merchWrapper {
    grid-template-columns: 1fr;
  }

  .merch-box img {
    height: 50rem;
  }
}

@media (max-width: 425px) {
  .merch-box img {
    height: 40rem;
  }
}

@media (max-width: 377px) {
  .side-h1 {
    font-size: 10rem;
  }
  .bioTitle h1 {
    font-size: 11rem;
  }

  .trackTitle h1 {
    font-size: 11rem;
  }

  .merch-box img {
    height: 30rem;
  }
}

@media (max-width: 350px) {
  .side-h1 {
    font-size: 9rem;
  }

  .icons {
    padding-top: 75rem;
  }
  .bioTitle h1 {
    font-size: 10rem;
  }

  .theStory h1 {
    font-size: 1.3rem;
  }

  .theStory p {
    font-size: 1.7rem;
  }

  .image img {
    height: 13rem;
  }

  .image1 img {
    height: 30rem;
  }
  .trackTitle h1 {
    font-size: 10rem;
  }
  .box-tour img {
    height: 30rem;
  }

  .cartDrawer {
    width: 40rem;
  }
}
